Repository ideafast/middleware-services, pull requests merged in 2021-02, with the labels that each got.

#21 Implement VTT DAG process, resolves #20
  .DS_Store
  .dtransfer.env.example
  data_transfer/config.py
  data_transfer/db/main.py
  data_transfer/devices/dreem.py
  data_transfer/devices/vttsma.py
  data_transfer/jobs/vttsma.py
  data_transfer/lib/vttsma.py
  data_transfer/main.py
  data_transfer/schemas/record.py
  data_transfer/services/dmpy.py
  data_transfer/services/ucam.py
  data_transfer/tasks/shared.py
  data_transfer/tasks/vttsma.py
  data_transfer/utils/__init__.py
  poetry.lock
  pyproject.toml
Labels: VTT, data-transfer

#42 Use UCAM lookup in Dreem DAG
  .gitignore
  consumer/routers/inventory.py
  consumer/services/inventory.py
  data_transfer/devices/dreem.py
  data_transfer/schemas/ucam.py
  data_transfer/services/inventory.py
  data_transfer/services/ucam.py
  data_transfer/utils/__init__.py
  mypy.ini
  tests/data_transfer_tests/services/test_ucam.py
Labels: data-transfer, dreem

#41 separated validation method for tests, included tests
  data_transfer/utils/__init__.py
  tests/data_transfer_tests/utils/test_utils.py
Labels: data-transfer, feature, tests
