Repository ideafast/middleware-services, pull requests merged in 2021-03, with the labels that each got.

#44 Integrate DMP upload from dmpy
  .gitignore
  data_transfer/main.py
  data_transfer/services/dmpy.py
  data_transfer/utils/__init__.py
  logging.ini
  poetry.lock
  pyproject.toml
Labels: data-transfer, feature

#43 ByteFlies pipeline
  .dtransfer.env.example
  .gitignore
  data_transfer/config.py
  data_transfer/db/main.py
  data_transfer/devices/byteflies.py
  data_transfer/devices/dreem.py
  data_transfer/devices/vttsma.py
  data_transfer/jobs/byteflies.py
  data_transfer/jobs/shared.py
  data_transfer/lib/byteflies.py
  data_transfer/main.py
  data_transfer/schemas/record.py
  data_transfer/services/inventory.py
  data_transfer/tasks/byteflies.py
  data_transfer/tasks/shared.py
  data_transfer/utils/__init__.py
  poetry.lock
  pyproject.toml
  tests/data_transfer_tests/byteflies/conftest.py
  tests/data_transfer_tests/byteflies/data/byteflies_itemised.json
  tests/data_transfer_tests/byteflies/data/byteflies_payload.json
  tests/data_transfer_tests/byteflies/data/mock_btf_file.csv
  tests/data_transfer_tests/byteflies/test_byteflies.py
  tests/data_transfer_tests/utils/test_utils.py
Labels: byteflies, data-transfer

#46 Dockerise data transfer pipeline
  .dockerignore
  .dtransfer.dev.env.example
  .dtransfer.prod.env.example
  .gitignore
  Dockerfile
  Dtransfer.Dockerfile
  README.md
  cli.py
  data_transfer/README.md
  data_transfer/config.py
  data_transfer/dags/__init__.py
  data_transfer/dags/btf.py
  data_transfer/dags/drm.py
  data_transfer/dags/sma.py
  data_transfer/db/main.py
  data_transfer/devices/byteflies.py
  data_transfer/devices/dreem.py
  data_transfer/jobs/dreem.py
  data_transfer/jobs/shared.py
  data_transfer/lib/byteflies.py
  data_transfer/lib/dreem.py
  data_transfer/main.py
  data_transfer/schemas/record.py
  data_transfer/services/dmpy.py
  data_transfer/services/inventory.py
  data_transfer/tasks/dreem.py
  data_transfer/utils/__init__.py
  docker-compose.yml
  local/.gitkeep
  local/README.md
  poetry.lock
  pyproject.toml
Labels: dreem, feature

#49 allow missing '-' and lowercase in validator
  data_transfer/utils/__init__.py
  tests/data_transfer_tests/utils/test_utils.py
Labels: bug, data-transfer

#50 Validate Device ID in DRM pipeline
  data_transfer/devices/dreem.py
Labels: bug, dreem

#52 Nox fix
  data_transfer/dags/btf.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/data_transfer_tests/byteflies/test_byteflies.py
Labels: bug, tests

#56 Inventory fix
  .gitignore
  data_transfer/utils/__init__.py
  tests/data_transfer_tests/services/conftest.py
  tests/data_transfer_tests/services/data/mock_inventory_history.json
  tests/data_transfer_tests/services/test_inventory.py
Labels: bug, consumer, data-transfer

#55 Byteflies update, closes #27
  README.md
  data_transfer/config.py
  data_transfer/dags/btf.py
  data_transfer/devices/byteflies.py
  data_transfer/jobs/byteflies.py
  data_transfer/lib/byteflies.py
  data_transfer/main.py
  data_transfer/tasks/byteflies.py
  data_transfer/utils/__init__.py
  local/README.md
  tests/data_transfer_tests/byteflies/conftest.py
  tests/data_transfer_tests/byteflies/test_byteflies.py
Labels: bug, byteflies, data-transfer
