Repository ideafast/middleware-services, pull requests merged in 2021-04, with the labels that each got.

#59 remove logs for URL requests; overloading the log
  data_transfer/lib/byteflies.py
Labels: bug, byteflies, data-transfer

#65 Invoke pre-processing if file has been downloaded
  data_transfer/tasks/byteflies.py
  data_transfer/tasks/dreem.py
  data_transfer/tasks/vttsma.py
Labels: bug

#64 restrict Record alteration if not in an appropriate stage, resolves #62
  data_transfer/schemas/record.py
  tests/data_transfer_tests/schemas/__init__.py
  tests/data_transfer_tests/schemas/test_record.py
Labels: bug

#66 Control BTF authentication via env. variables; cache part of BTF API; resolves #60
  data_transfer/devices/byteflies.py
  data_transfer/lib/byteflies.py
  tests/data_transfer_tests/byteflies/conftest.py
  tests/data_transfer_tests/byteflies/test_byteflies.py
Labels: bug, byteflies, data-transfer, feature

#69 Use latest DMPy version
  poetry.lock
  pyproject.toml
Labels: bug, data-transfer

#71 GitHub Action for Tests
  .github/workflows/tests.yml
  consumer/config.py
  consumer/main.py
  data_transfer/config.py
  tests/data_transfer_tests/byteflies/conftest.py
Labels: feature, tests

#76 only run GH tests on PR
  .github/workflows/tests.yml
Labels: tests

#75 Catch requests errors
  consumer/main.py
  consumer/services/inventory.py
  consumer/utils/errors.py
Labels: bug, consumer

#77 fix mypy typing error `config.settings`
  data_transfer/config.py
Labels: bug, data-transfer

#80 Inventory datetime fix
  consumer/routers/inventory.py
  consumer/schemas/device.py
  consumer/schemas/inventory.py
  consumer/schemas/patient.py
  tests/consumer_tests/routers/conftest.py
  tests/consumer_tests/routers/test_inventory.py
Labels: bug, consumer

#86 Use None when serializing inventory response
  consumer/schemas/inventory.py
  tests/consumer_tests/routers/test_inventory.py
Labels: bug

#87 Refactor DRM metadata retrieval to query inventory less
  data_transfer/devices/dreem.py
Labels: dreem, refactor

#89 remove deviations contraint
  data_transfer/services/ucam.py
  tests/data_transfer_tests/services/test_ucam.py
Labels: UCAM, data-transfer

#88 Camcog pipeline joining the party
  .dockerignore
  .dtransfer.dev.env.example
  data_transfer/README.md
  data_transfer/config.py
  data_transfer/dags/tfa.py
  data_transfer/devices/thinkfast.py
  data_transfer/lib/thinkfast.py
  data_transfer/main.py
  data_transfer/tasks/thinkfast.py
  poetry.lock
Labels: camcog, data-transfer
